@import url('assets/font/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap');

:root{
    --primary-color: "#6e36e5";
    --secondary-color: "#641da5";
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .arrow-anim {
    
    
    cursor: pointer;

}

.arrow-anim span {
  animation: animate 2s infinite;
}
.arrow-anim span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-anim span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

